* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 57px;
    font-family: 'Poppins', sans-serif;
    /* color: whitesmoke; */
    background-color: #164376;
}

.navbar {
    background-color: #343a40;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;
}

.hero-text {
    top: 5rem;
    color: whitesmoke;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.hero-text-flex-1 {
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: #164376;
}

.hero-text-flex-2 {
    width: 50%;
    height: 100%;
    background-color: #eba50d;
}

@media screen and (max-width: 750px) {
    .hero-text {
        font-size: 70%;
        color: whitesmoke;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    .hero-text-flex-1 {
        width: 100% !important;
        height: 50%;
        z-index: 1;
        background-color: #164376;
    }

    .hero-text-flex-2 {
        display: none !important;
        width: 100% !important;
        height: 40%;
    }

    .hero-text p,
    h1 {
        font-size: 2rem;
    }

    .hero-text h1 {
        padding-top: 5rem;
        padding: 0;
        margin: 0;
    }
}

.hero-text-flex-1 img {
    display: block;
    margin: 0 auto;
}

.hero-text-flex-2 h1,
.hero-text-flex-2 p {
    text-align: center;
}

.hero-text-flex-1 {
    width: 50%;
    height: 100%;
    background-color: #164376;
}

.hero-text-flex-2 {
    width: 50%;
    height: 100%;
    background-color: #eba50d;
}

.hero-text img {
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.hero-text-flex-2 {
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 15rem 3.5rem;
}




/* About Section styling */
#about {
    background-color: #164376 !important;
    color: #fff !important;
}

.about-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
    text-align: justify;
}


/* Services Section */
#services {
    color: #fff;
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}






/*  Footer */

footer{
    background: #020407;
    color: #fff;
}
.text-center{
    background-color: #343a40;
    color: #fff;
}

.col ul{
    list-style: none;
    padding-left: 0;
}

.col ul a{
    text-decoration: none;
}